.ui-checked-wrap {
  cursor: pointer;
  
  .ui-checkbox, .ui-unchecked, .ui-checked {
    display: none;
  }
  .ui-checkbox:not(:checked) ~ .ui-unchecked {
    display: block;
  }
  .ui-checkbox:checked ~ .ui-checked{
    display: block;
  }
}