.process-steps {
  $circle-size: 20px;
  display: flex;
  justify-content: space-between; // 讓 circle 空間分配
  position: relative;             // 給線條絕對定位用

  // 空心 circle
  .step-circle {
    height: $circle-size;
    width: $circle-size;
    border: 1px solid theme-color("third");
    border-radius: $circle-size;
    position: relative;
    background-color: theme-color('primary');
    z-index: 1;                   // 把 circle 排到線條上面
    display: flex;
    align-items: center;          // 實心 circle 定位
    justify-content: center;      
  }
  // 時間線線條
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: theme-color("third");
  }

  // 實心 circle
  .step-circle.active {
    border-color: theme-color("third");
    &:after {
      content: "";
      height: $circle-size - 6;
      width: $circle-size - 6;
      display: block;
      background-color: theme-color("third");
      border-radius: $circle-size;
    }
  }
  // 勾勾
  .step-circle.completed {
    font-size: 1rem;
    background-color: theme-color("third");
    color: theme-color('primary');
  }


  // Theme
  &.process-steps-dark {
    border-color: theme-color('primary');
    &:after {
      background-color: theme-color('primary');
    }
    .step-circle {
      border-color: theme-color('primary');
    }
    .step-circle.active {
      border-color: theme-color('primary');
      &:after {
        background-color: theme-color('primary');
      }
    }
    .step-circle.completed {
      background-color: theme-color('primary');
      color: theme-color("third");
    }
  }
}
