/* -- TOC ---

navbar
subscribe

-------------- */


// navbar
.cart-btn:hover {
  color: rgba(0, 0, 0, .9);
}
.mr-60 {
  margin-right: 60px;
}

// subscribe
.px-70 {
  padding: 0 70px;
}
.sub-input.form-control:focus {
  box-shadow: 0 0 0 0 ;
}

// footer
